<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>

<h3 style="color:#006633">{{message2}}</h3>
	
	{% if sms=="yes" %}
<iframe src="http://iotcloud.co.in/testsms/sms.php?sms=emr&name={{name}}&mess={{message}}&mobile={{mobile}}" width="10" height="10" ></iframe>					
					
<iframe src="http://iotcloud.co.in/testsms/sms.php?sms=emr&name=Dept&mess={{message2}}&mobile={{mobile2}}" width="10" height="10"></iframe>	
	{% endif %}					
<script>
						setTimeout(function () {
						   //Redirect with JavaScript
						  window.location.href="/process";
						}, 10000);
						</script>
</body>
</html>
